<a href="https://colab.research.google.com/github/iamsonia9/Web_scrap/blob/main/KNN_Assignment13(Sonia).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [129]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [130]:
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)

In [131]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from mlxtend.plotting import plot_decision_regions
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

**Importing the dataset**

In [132]:
df = pd.read_csv("/content/Social_Network_Ads (1).csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [133]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [134]:
X = df[["Age","EstimatedSalary"]]
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [135]:
y = df[["Purchased"]]

**Splitting the dataset into the Training set and Test set**

In [136]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

**Feature Scaling**

In [137]:
from sklearn.preprocessing import StandardScaler

In [138]:
sc_x = StandardScaler()

In [139]:
X_train = sc_x.fit_transform(X_train)

In [140]:
X_test = sc_x.transform(X_test)

In [141]:
X_train

array([[ 1.02640698, -0.82883197],
       [-0.90305898,  0.53030684],
       [ 0.1581473 ,  0.28319069],
       [-1.28895218, -0.39637871],
       [-0.32421919, -1.32306426],
       [ 2.18408656,  1.05542865],
       [ 1.70172007,  1.76588757],
       [ 1.79819337,  1.11720769],
       [-0.1312726 ,  2.35278842],
       [-1.09600558, -1.57018041],
       [-0.22774589,  0.1287431 ],
       [-0.90305898, -0.39637871],
       [-0.22774589,  0.22141165],
       [-0.22774589,  2.44545698],
       [-1.09600558, -0.48904727],
       [-0.71011239,  0.65386491],
       [ 1.60524677, -1.29217475],
       [-0.0347993 ,  2.13656179],
       [-1.38542547, -0.05659401],
       [ 0.54404049,  2.01300372],
       [ 1.12288028, -0.98327956],
       [-0.1312726 , -1.07594812],
       [ 0.3510939 ,  0.1287431 ],
       [ 1.12288028, -0.08748353],
       [ 1.31582688, -1.3848433 ],
       [-1.09600558, -1.10683764],
       [ 0.1581473 ,  1.17898672],
       [ 0.1581473 , -0.79794245],
       [ 0.54404049,  1.36432383],
       [-0.99953228, -0.30371016],
       [ 0.2546206 ,  1.20987624],
       [ 2.08761327, -1.19950619],
       [ 1.31582688,  2.04389324],
       [ 0.1581473 ,  2.04389324],
       [ 0.73698709, -1.41573282],
       [-0.42069249, -0.82883197],
       [-0.22774589,  0.71564395],
       [ 1.02640698,  0.68475443],
       [ 0.3510939 , -0.51993679],
       [ 1.99113997,  1.02453913],
       [ 1.12288028,  0.62297539],
       [-0.22774589,  1.24076576],
       [ 0.1581473 ,  0.34496973],
       [-0.32421919,  1.45699239],
       [-0.1312726 ,  1.54966094],
       [-0.42069249, -1.23039571],
       [-0.0347993 , -1.07594812],
       [ 2.08761327,  0.62297539],
       [-0.22774589,  0.62297539],
       [ 0.3510939 ,  0.59208588],
       [ 1.89466667, -0.24193112],
       [-1.19247888,  0.59208588],
       [ 0.44756719,  0.15963262],
       [-1.86779197,  0.00518503],
       [-1.28895218, -0.30371016],
       [ 0.92993369, -0.58171582],
       [ 1.60524677,  0.06696406],
       [ 0.44756719,  1.11720769],
       [ 0.64051379, -0.89061101],
       [-0.71011239,  0.37585925],
       [-1.28895218, -1.3848433 ],
       [ 0.44756719, -0.08748353],
       [-0.22774589, -1.32306426],
       [-0.22774589, -1.3848433 ],
       [ 0.1581473 , -0.79794245],
       [-1.19247888,  0.37585925],
       [-0.0347993 ,  0.37585925],
       [-0.22774589,  0.22141165],
       [ 0.92993369, -0.5508263 ],
       [ 0.061674  , -0.2110416 ],
       [ 1.12288028, -0.89061101],
       [ 0.061674  ,  0.37585925],
       [ 0.061674  ,  1.36432383],
       [-0.32421919, -0.76705293],
       [-1.67484537, -0.58171582],
       [ 0.83346039,  0.19052214],
       [ 1.50877348,  1.11720769],
       [ 0.1581473 ,  0.15963262],
       [-1.28895218, -1.10683764],
       [-0.71011239, -0.18015208],
       [-0.22774589, -1.47751186],
       [-0.22774589, -0.64349486],
       [ 1.12288028, -1.23039571],
       [ 0.92993369, -1.32306426],
       [-0.80658568, -1.23039571],
       [-1.09600558,  0.56119636],
       [ 0.3510939 , -1.16861667],
       [ 1.50877348, -1.0450586 ],
       [ 0.92993369,  1.20987624],
       [-0.99953228,  0.87009154],
       [-0.71011239,  0.34496973],
       [ 0.44756719,  1.24076576],
       [ 0.2546206 ,  0.22141165],
       [ 0.1581473 , -0.2110416 ],
       [-0.51716579,  1.51877143],
       [-0.90305898, -0.73616341],
       [ 0.92993369, -0.51993679],
       [ 0.44756719, -0.11837305],
       [ 0.1581473 ,  0.22141165],
       [-0.22774589, -0.39637871],
       [-0.0347993 , -0.45815775],
       [ 0.83346039, -0.27282064],
       [ 0.44756719,  0.68475443],
       [-0.80658568,  2.4763465 ],
       [-0.22774589,  0.09785358],
       [ 0.83346039, -1.10683764],
       [-1.67484537,  0.43763828],
       [-0.51716579, -1.53929089],
       [-0.99953228, -0.42726823],
       [-0.80658568, -0.2110416 ],
       [-0.61363909, -0.30371016],
       [-1.86779197, -0.48904727],
       [ 0.061674  ,  1.39521335],
       [-1.28895218,  0.65386491],
       [ 0.83346039, -0.82883197],
       [ 0.061674  , -0.5508263 ],
       [-0.71011239, -0.58171582],
       [-1.09600558, -0.76705293],
       [-0.0347993 ,  0.06696406],
       [-0.71011239, -1.63195945],
       [ 0.2546206 ,  0.1287431 ],
       [ 1.02640698,  0.19052214],
       [ 1.02640698, -1.07594812],
       [-0.99953228, -0.30371016],
       [ 0.2546206 , -0.33459968],
       [ 0.2546206 ,  0.31408021],
       [-1.57837207,  0.62297539],
       [-0.42069249, -0.76705293],
       [ 0.2546206 , -0.2110416 ],
       [-1.28895218, -1.50840137],
       [-1.86779197,  0.43763828],
       [ 1.02640698,  1.95122468],
       [-0.1312726 , -0.24193112],
       [ 0.2546206 , -0.64349486],
       [-0.0347993 , -0.39637871],
       [ 1.12288028,  0.19052214],
       [ 1.89466667,  0.19052214],
       [ 0.061674  , -0.51993679],
       [-1.19247888, -1.41573282],
       [-1.19247888,  0.34496973],
       [-1.67484537,  0.43763828],
       [ 2.18408656, -0.79794245],
       [-0.71011239,  0.59208588],
       [-0.32421919,  1.36432383],
       [-1.57837207,  0.00518503],
       [ 0.3510939 , -0.14926257],
       [-1.86779197,  0.56119636],
       [ 1.02640698,  0.87009154],
       [-1.28895218,  0.49941732],
       [-0.71011239, -1.57018041],
       [-0.80658568, -0.76705293],
       [-1.09600558,  0.37585925],
       [ 1.50877348,  0.43763828],
       [ 1.21935358,  0.62297539],
       [ 0.1581473 ,  0.09785358],
       [-1.09600558,  0.1287431 ],
       [ 0.44756719,  0.22141165],
       [-1.67484537,  0.19052214],
       [ 1.70172007, -0.89061101],
       [-1.48189877, -1.26128523],
       [-0.22774589, -0.89061101],
       [-1.09600558,  0.49941732],
       [ 0.83346039,  1.51877143],
       [-0.22774589, -0.24193112],
       [ 2.18408656, -0.67438438],
       [ 1.02640698,  2.16745131],
       [ 0.73698709,  0.34496973],
       [ 0.54404049,  1.88944565],
       [-1.77131867, -1.44662234],
       [ 1.89466667, -1.07594812],
       [ 0.83346039,  0.34496973],
       [-0.0347993 ,  0.37585925],
       [-1.09600558, -1.63195945],
       [ 1.99113997, -0.92150052],
       [ 0.92993369, -1.16861667],
       [-1.19247888, -1.07594812],
       [-0.90305898, -0.95239004],
       [-0.1312726 ,  0.9627601 ],
       [ 0.061674  , -0.2110416 ],
       [ 1.79819337,  2.01300372],
       [-0.0347993 ,  0.09785358],
       [-0.1312726 ,  0.22141165],
       [ 0.92993369, -0.64349486],
       [ 0.44756719,  0.37585925],
       [-0.61363909,  0.19052214],
       [ 0.2546206 , -0.33459968],
       [-0.90305898, -1.10683764],
       [ 2.08761327,  0.25230117],
       [ 0.3510939 , -0.27282064],
       [-0.99953228, -0.33459968],
       [ 2.08761327,  2.3218989 ],
       [-1.38542547, -1.23039571],
       [-1.09600558,  0.37585925],
       [-0.0347993 ,  0.22141165],
       [ 1.41230018,  2.53812553],
       [-0.22774589, -0.73616341],
       [ 0.2546206 , -0.08748353],
       [-0.51716579,  1.51877143],
       [-0.61363909,  0.65386491],
       [ 0.73698709, -1.41573282],
       [ 0.1581473 ,  1.67321902],
       [-1.09600558, -1.63195945],
       [-0.71011239,  1.20987624],
       [-1.09600558,  1.54966094],
       [-0.0347993 ,  0.19052214],
       [ 0.3510939 , -0.48904727],
       [-0.0347993 ,  0.34496973],
       [ 0.2546206 ,  0.22141165],
       [-0.22774589, -0.27282064],
       [ 0.061674  , -0.27282064],
       [-0.0347993 ,  0.28319069],
       [-0.22774589,  0.28319069],
       [ 0.73698709, -1.10683764],
       [-1.48189877, -0.39637871],
       [-0.61363909, -1.53929089],
       [ 0.3510939 , -0.24193112],
       [-0.1312726 , -0.14926257],
       [-1.67484537, -1.3848433 ],
       [-0.80658568,  0.22141165],
       [-1.77131867,  0.53030684],
       [-0.42069249,  0.03607454],
       [ 1.60524677,  1.11720769],
       [ 0.2546206 , -0.33459968],
       [-0.32421919, -0.76705293],
       [ 1.21935358, -1.47751186],
       [ 0.2546206 , -0.24193112],
       [ 1.89466667,  1.67321902],
       [-0.0347993 ,  2.35278842],
       [ 1.60524677,  1.24076576],
       [ 0.061674  , -0.5508263 ],
       [-0.99953228,  0.49941732],
       [-0.51716579,  1.61143998],
       [-0.22774589, -0.08748353],
       [-0.42069249,  1.39521335],
       [ 0.061674  , -0.39637871],
       [ 0.44756719,  2.50723601],
       [-0.22774589, -1.26128523],
       [-0.1312726 , -0.48904727],
       [ 0.73698709, -0.7052739 ],
       [-1.77131867,  0.25230117],
       [ 2.18408656,  0.4685278 ],
       [-0.51716579,  0.56119636],
       [-1.09600558, -1.60106993],
       [-0.51716579,  0.99364961],
       [ 1.41230018, -0.92150052],
       [-0.22774589, -0.45815775],
       [ 0.92993369, -0.76705293],
       [ 0.83346039, -1.41573282],
       [ 1.99113997, -1.3848433 ],
       [ 1.02640698,  2.26011987],
       [-1.77131867,  0.06696406],
       [-0.1312726 , -0.5508263 ],
       [ 1.02640698, -1.07594812],
       [-0.61363909, -0.05659401],
       [ 1.12288028, -1.23039571],
       [-0.0347993 ,  0.1287431 ],
       [-1.57837207,  0.1287431 ],
       [ 2.18408656, -1.0450586 ],
       [-1.28895218, -0.39637871],
       [-1.67484537, -0.98327956],
       [-1.86779197, -0.73616341],
       [-0.22774589,  0.34496973],
       [ 0.83346039,  0.62297539],
       [-0.0347993 ,  2.41456746],
       [-1.09600558, -1.01416908],
       [-0.99953228, -1.13772715],
       [-0.61363909,  0.00518503],
       [-0.61363909,  0.25230117],
       [-0.51716579,  2.53812553],
       [ 0.73698709, -1.29217475],
       [-1.48189877, -0.14926257],
       [ 0.92993369, -1.3848433 ],
       [ 0.92993369, -1.47751186],
       [ 1.12288028,  0.65386491],
       [-0.22774589, -0.5508263 ],
       [-0.42069249, -0.51993679],
       [-0.90305898,  0.49941732],
       [-0.80658568,  0.37585925],
       [ 0.061674  , -0.08748353],
       [ 0.83346039,  0.43763828]])

In [142]:
X_test

array([[ 0.44756719, -0.42726823],
       [ 0.3510939 ,  0.37585925],
       [-0.22774589, -1.41573282],
       [ 1.31582688,  2.41456746],
       [-0.0347993 ,  0.31408021],
       [ 0.44756719, -0.08748353],
       [-1.77131867, -1.32306426],
       [-0.42069249, -0.24193112],
       [-1.48189877,  0.40674877],
       [ 1.21935358, -0.73616341],
       [-0.80658568,  0.4685278 ],
       [ 0.92993369, -1.0450586 ],
       [ 0.73698709,  1.95122468],
       [ 0.92993369,  2.35278842],
       [-0.1312726 , -0.42726823],
       [-1.38542547, -1.47751186],
       [-1.57837207, -1.60106993],
       [-1.38542547,  0.43763828],
       [-0.99953228,  0.68475443],
       [-1.48189877, -1.53929089],
       [ 1.79819337, -0.24193112],
       [-0.22774589,  0.15963262],
       [ 1.02640698, -1.16861667],
       [-0.22774589,  0.1287431 ],
       [-0.80658568,  0.4685278 ],
       [ 0.3510939 ,  0.1287431 ],
       [ 0.3510939 , -0.48904727],
       [ 1.89466667, -1.29217475],
       [ 2.18408656,  1.24076576],
       [-1.77131867, -1.29217475],
       [-0.22774589, -0.92150052],
       [-0.51716579, -1.53929089],
       [-0.71011239,  1.48788191],
       [ 0.1581473 ,  0.09785358],
       [-1.38542547, -0.61260534],
       [-0.80658568, -0.64349486],
       [-1.28895218, -1.26128523],
       [ 0.061674  ,  0.09785358],
       [ 0.2546206 , -0.27282064],
       [ 1.02640698, -1.01416908],
       [-0.0347993 , -0.18015208],
       [ 1.99113997, -0.64349486],
       [ 0.92993369,  1.39521335],
       [ 1.02640698,  2.04389324],
       [-0.22774589, -0.33459968],
       [ 0.3510939 ,  0.1287431 ],
       [ 0.1581473 ,  2.04389324],
       [ 1.41230018, -1.44662234],
       [ 1.70172007,  1.92033517],
       [ 1.41230018,  0.68475443],
       [-0.22774589, -0.5508263 ],
       [-0.99953228,  2.13656179],
       [ 0.061674  ,  0.09785358],
       [-0.32421919,  0.1287431 ],
       [ 2.08761327, -0.79794245],
       [ 1.50877348,  0.1287431 ],
       [-0.61363909,  0.09785358],
       [ 0.3510939 ,  0.34496973],
       [-0.90305898, -0.27282064],
       [-1.09600558, -1.16861667],
       [-0.99953228,  0.62297539],
       [-1.19247888,  0.68475443],
       [ 1.02640698,  1.58055046],
       [-1.67484537,  0.56119636],
       [ 1.12288028,  0.56119636],
       [-1.38542547, -0.14926257],
       [-0.0347993 , -0.48904727],
       [ 0.83346039,  0.87009154],
       [ 0.83346039, -1.3848433 ],
       [ 0.83346039, -1.23039571],
       [ 1.02640698, -1.19950619],
       [ 0.44756719,  0.06696406],
       [ 0.2546206 ,  2.29100939],
       [ 1.41230018,  2.16745131],
       [ 2.18408656, -0.79794245],
       [-0.80658568, -0.76705293],
       [ 0.3510939 , -0.7052739 ],
       [ 0.1581473 , -0.27282064],
       [-0.51716579,  2.07478276],
       [ 1.50877348,  2.3218989 ],
       [-0.22774589,  0.90098106],
       [ 1.41230018,  1.42610287],
       [ 0.92993369,  1.14809721],
       [ 0.44756719, -0.45815775],
       [-0.99953228, -1.57018041],
       [-0.61363909, -1.63195945],
       [-0.99953228,  0.65386491],
       [-0.22774589, -0.30371016],
       [ 2.08761327,  1.92033517],
       [-0.90305898, -0.27282064],
       [-0.22774589, -0.2110416 ],
       [ 1.99113997,  0.83920202],
       [-0.0347993 , -0.33459968],
       [ 0.44756719, -0.42726823],
       [ 0.2546206 ,  0.09785358],
       [ 0.44756719,  0.37585925],
       [-1.77131867, -1.50840137],
       [-1.09600558,  0.40674877],
       [-0.90305898,  0.34496973],
       [ 0.44756719,  0.34496973],
       [-0.0347993 ,  0.77742299],
       [-0.42069249,  2.50723601],
       [-0.71011239,  2.07478276],
       [-0.90305898,  0.65386491],
       [-0.90305898,  1.70410854],
       [-0.61363909,  1.54966094],
       [-0.61363909, -1.0450586 ],
       [ 0.3510939 ,  0.09785358],
       [-0.1312726 ,  1.76588757],
       [ 1.99113997,  2.35278842],
       [ 1.21935358, -0.98327956],
       [-0.90305898,  0.59208588],
       [ 2.08761327,  0.4685278 ],
       [-0.42069249, -1.13772715],
       [ 0.64051379,  2.19834083],
       [ 1.12288028,  2.26011987],
       [-0.1312726 ,  1.79677709],
       [-0.99953228, -1.47751186],
       [ 0.3510939 ,  0.1287431 ],
       [ 0.1581473 ,  0.87009154]])

In [143]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

**Fitting K-NN to the Training set**

In [144]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(3)
knn.fit(X_train,y_train)
knn.score(X_test,y_test)

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.9083333333333333

**Predicting the Test set results**

In [149]:
from sklearn.metrics import roc_auc_score

for i in [1,2,3,4,5,6,7,8,9,10,20,50]:
  knn = KNeighborsClassifier(i) #initialising the model
  knn.fit(X_train,y_train) # training the model
  print("K value  : " , i, " train score : ", knn.score(X_train,y_train) , " cv score : ", np.mean(cross_val_score(knn, X_train, y_train, cv=10))) #predicting using the model


knn = KNeighborsClassifier(5)
knn.fit(X_train,y_train)
knn.score(X_test,y_test)

K value  :  1  train score :  1.0  cv score :  0.8571428571428571
K value  :  2  train score :  0.9285714285714286  cv score :  0.8714285714285716
K value  :  3  train score :  0.9321428571428572  cv score :  0.9071428571428571
K value  :  4  train score :  0.9285714285714286  cv score :  0.8964285714285714
K value  :  5  train score :  0.925  cv score :  0.9
K value  :  6  train score :  0.9178571428571428  cv score :  0.8964285714285716
K value  :  7  train score :  0.9285714285714286  cv score :  0.9142857142857143
K value  :  8  train score :  0.925  cv score :  0.9071428571428571
K value  :  9  train score :  0.9285714285714286  cv score :  0.9142857142857143
K value  :  10  train score :  0.9142857142857143  cv score :  0.9071428571428571
K value  :  20  train score :  0.9214285714285714  cv score :  0.9071428571428571
K value  :  50  train score :  0.8928571428571429  cv score :  0.8785714285714284

0.875

In [146]:
y_pred = knn.predict(X_test)

y_pred

array([0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1])

**Making the Confusion Matrix**

In [147]:
from sklearn.metrics import accuracy_score, plot_roc_curve, roc_curve,roc_auc_score,confusion_matrix, f1_score

In [148]:
confusion_matrix(y_test,y_pred)

array([[72,  7],
       [ 8, 33]])