<a href="https://colab.research.google.com/github/iamsonia9/Web_scrap/blob/main/Random_Forest_Assignment16(Sonia).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [164]:
#Social_Network_Ads.csv

**Importing the libraries**

In [208]:
import pandas as pd
import numpy as np

**Importing the dataset**

In [234]:
df = pd.read_csv("/content/Social_Network_Ads (1).csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [235]:
df1 = df.drop(["User ID"], axis=1)

In [236]:
df1

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [237]:
df1["Gender"].replace({'Male':0,'Female':1},inplace=True)

In [238]:
X = df1.iloc[:,0:3]
X

     Gender  Age  EstimatedSalary
0         0   19            19000
1         0   35            20000
2         1   26            43000
3         1   27            57000
4         0   19            76000
..      ...  ...              ...
395       1   46            41000
396       0   51            23000
397       1   50            20000
398       0   36            33000
399       1   49            36000

[400 rows x 3 columns]

In [252]:
y = df1.iloc[:,-1]
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [240]:
X_list = list(X.columns)
X_list

['Gender', 'Age', 'EstimatedSalary']

**Splitting the dataset into the Training set and Test set**

In [241]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

**Feature Scaling**

In [242]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

**Fitting Random Forest to the Training set**

In [243]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score

rf = RandomForestClassifier(n_estimators=100,max_depth=2,max_features='sqrt')

rf.fit(X_train,y_train)

RandomForestClassifier(max_depth=2, max_features='sqrt')

**Predicting the Test set results**

In [244]:
y_pred = rf.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1])

**Making the Confusion Matrix**

In [245]:
from sklearn.metrics import accuracy_score, plot_roc_curve, roc_curve,roc_auc_score,confusion_matrix, f1_score

r2_score(y_pred,y_test)


confusion_matrix(y_test,y_pred)

array([[55,  3],
       [ 1, 21]])

**Visualising the Training set results**

In [246]:
from sklearn import tree
from sklearn.tree import export_graphviz
import pydot

tree = rf.estimators_[2]

export_graphviz(tree, out_file = 'tree.dot', feature_names = X_list, rounded = True, precision = 1)

(graph, ) = pydot.graph_from_dot_file('tree.dot')

graph.write_png('tree.png');

In [247]:
X_list

['Gender', 'Age', 'EstimatedSalary']

**Visualising the Test set results**